:root {
    --cream: #fdf8e2;
    --light-purple: #c4c3e3;
    --dark-purple: #504e76;
    --yellow: #fcdd9d;
    --green: #a3b565;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    margin: 7px;
}

/* Floating icons animation */

.floating-icon {
  position: absolute;
  font-size: 2rem;
  opacity: 0.4;
  animation: floatUp 8s infinite linear;
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh) rotate(0deg);
  }
  100% {
    transform: translateY(-10vh) rotate(360deg);
  }
}


header {
    background-color: var(--light-purple);
    text-align: center;
    padding: .5em 1em;
    border-radius: 10px;
    
    font-family: "gambado-sans-forte", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--dark-purple);
    font-size: 3em;

     h2 {
        margin: 0;
        padding: 0;
    }

    #title {
        margin-bottom: 65px;
    }

    p {
        font-family: "mundial", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        margin-bottom: 10px;
    }
}

/* ziclets font */

    /* font-family: "ziclets", sans-serif;
        font-weight: 250;
        font-style: normal;
        color: var(--dark-purple);
        margin-top: 20px;
        font-size: 2.5em; */
    
.navbar {
    background-color: var(--dark-purple);
    margin-bottom: .5em;
    padding: .5em 1em;
    border-radius: 10px;
    position: sticky;
    top:0;
    z-index: 1000;

    display: flex;
    justify-content: space-evenly;

    ul{
        list-style-type: none;
        background-color: var(--dark-purple);
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    a {
        display: block;
        text-align: center;
        padding: 15px;
        text-decoration: none;

        color: var(--cream);
        font-family: "mundial", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2em;
    }

    a:hover {
        background-color: var(--yellow);
        color: var(--dark-purple);
        border-radius: 10px;
    }
    
    li {
        float: left;
    }
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;

    position: relative;
    max-width: auto;
    margin: 20px;
    font-family: "mundial", sans-serif;
    font-style: normal;
    /* font-weight: 400; */
}
 

.sidebar {
    width: 30%;

    .aboutme {
        background-color: var(--yellow);
        color:var(--dark-purple);
        margin-bottom: 20px;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3)

    }

    .recentwatch {
        background-color: var(--yellow);
        color:var(--dark-purple);
        margin-bottom: 20px;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3)

    }
}

.maincontent {
    width: 70%;
    text-align: center;
    font-size: 2em;

    .movie-container {
    width: 100%;
    background-color: var(--green);
    color:var(--cream);
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 10px;

    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3)
    }

        .movie-container:hover {
            background-color: var(--yellow);
            color: var(--dark-purple);
            border-radius: 10px;
              /* Custom cursor */
            cursor: url("../assets/3d-glasses.png"), pointer;
        }

    .tvshows-container {
    width: 100%;
    background-color: var(--green);
    color:var(--cream);
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 10px;

    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3)
    }
         .tvshows-container:hover {
            background-color: var(--yellow);
            color: var(--dark-purple);
            border-radius: 10px;
              /* Custom cursor */
            cursor: url("../assets/tv-show-cursor.png"), pointer;
        }

    .news-container {
    width: 100%;
    background-color: var(--green);
    color:var(--cream);
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 10px;

    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3)
    }
         .news-container:hover {
            background-color: var(--yellow);
            color: var(--dark-purple);
            border-radius: 10px;
              /* Custom cursor */
            cursor: url("../assets/megaphone.png"), pointer;
        }

    .mylist-container {
    width: 100%;
    background-color: var(--green);
    color:var(--cream);
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 10px;

    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3)
    }
        .mylist-container:hover {
            background-color: var(--yellow);
            color: var(--dark-purple);
            border-radius: 10px;
              /* Custom cursor */
            cursor: url("../assets/girl.png"), pointer;
        }
}


footer {
    background-color: var(--dark-purple);
    text-align: center;
    border-radius: 10px;
    margin-bottom: .5em;
    padding: .5em 1em;
    justify-content: center;

    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cream);
    font-size: 1em;

    display: block;
    clear: both; 
}